@model AuthenticationViewModel

<p align="center" id="AuthenticationMessage"></p>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<script>
    var isAuthenticatedUser = '@(Model.IsAuthenticatedUser)';
    if (isAuthenticatedUser == 'True') {
        $("#AuthenticationMessage").append("User exists");
        $("#AuthenticationMessage").css("color","green");
    }
    else if (isAuthenticatedUser == 'False') {
        $("#AuthenticationMessage").append("User does not exist")
        $("#AuthenticationMessage").css("color", "red");
    }
</script>